* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Se establece 1rem como 10px*/
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    // display: flex;
    // flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    font-size: 100%;
    font-family: $tipo-principal;
    color: $b-color;
    position: relative;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}

/* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
    background-color: $b-color;
    color: $w-color;
}

::selection {
    background-color: $s-color;
    color: $w-color;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
        hyphens: none;
        font-family: inherit;
        font-size: inherit;
        /*background-color: transparent;
        */color: inherit;
        display: block;
        /*opcional*//*-webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        */
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
